---
import Default from "@layouts/Default.astro";
---

<Default>
	<h1
		class="taos:opacity-0 taos:translate-y-[-100%] transition-animation my-5 text-center font-display text-9xl font-bold duration-700">
		404
	</h1>
	<p
		class="taos:opacity-0 taos:translate-y-[100%] transition-animation pb-5 text-center text-lg delay-[900ms] duration-700">
		Page not found. Please check the URL or return to the
		<a class="text-blue" href="/">homepage</a>.
	</p>
</Default>
