---
import Button from "@components/Button.astro";
import Default from "@layouts/Default.astro";
---

<Default>
	<h1
		class="taos:opacity-0 taos:translate-y-[-100%] transition-animation my-5 text-center font-display text-6xl font-bold duration-700">
		Heya! I'm Echo.
	</h1>
	<p
		class="taos:opacity-0 taos:translate-y-[100%] transition-animation pb-5 text-center text-lg delay-[900ms] duration-700">
		I'm a developer who makes random and usually useless things for the internet.
	</p>
	<div class="flex gap-2">
		<Button
			icon="lucide:github"
			href="https://github.com/CallMeEchoCodes"
			class="transition-animation taos:translate-y-[100%] taos:opacity-0 bg-[#333] text-white delay-[1600ms] duration-700"
		/>

		<Button
			icon="lucide:twitter"
			href="https://twitter.com/ImCallMeEcho"
			class="transition-animation taos:translate-y-[100%] taos:opacity-0 bg-[#1D9BEF] text-white delay-[1700ms] duration-700"
		/>

		<Button
			icon="ic:baseline-discord"
			href="https://discord.gg/TTmx7d2axf"
			class="transition-animation taos:translate-y-[100%] taos:opacity-0 bg-[#5865F2] text-white delay-[1800ms] duration-700"
		/>
	</div>
</Default>
